@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1> test</h1>

@GitHubStats.Controllers.AppConfig.Current.AppName
@GitHubStats.Controllers.AppConfig.Current.ClientId
@GitHubStats.Controllers.AppConfig.Current.ClientSecret