@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1> test</h1>

APPNAME:@GitHubStats.Controllers.AppConfig.Current.AppName
CLIENTID:@GitHubStats.Controllers.AppConfig.Current.ClientId
CLIENT SECRET:@GitHubStats.Controllers.AppConfig.Current.ClientSecret