@model GitHubStats.Models.BadgesOptions
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<section class="content-header">
    <h1>
        Badges
        <small>Options</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Stats/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Badges</li>
    </ol>
</section>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-info"></i> Alert!</h4>
            Not implemented yet! Please open an issue to encourage working on it!
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">Number of download (Example)</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>Copy and paste this snippet to have a badge</p>
                <pre>
                     http://github-stats.apphb.com/Badges/DownloadCount?format=jpg              
                </pre>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">Profile Badge (Example)</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>Copy and paste this snippet to have a badge</p>
                <pre>
                     http://github-stats.apphb.com/Badges/ProfileBadge?format=jpg              
                </pre>
            </div>
        </div>
    </div>
</div>